.menu-section {
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #213643;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: .6em 1em;
}

.menu li a:hover {
	background: #3d515c;
}

.menu-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #213643;
}

@media screen and (min-width: 30em) {
	.single-nav ul {
		display: flex;
		padding-left: 50px;
	}  
}

.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}
.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }
.social-menu li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.social-menu li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }
.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }
